openapi: 3.0.0
info:
  description: "#Documentation\r\n\r\nThis is the documentation for the partner endpoint of the BigOven Recipe and Grocery List API.\r\n\r\nThe update brings with it Swagger-based documentation. [Swagger](http://swagger.io) is an emerging standard for describing REST-based APIs, and with this Swagger-compliant endpoint (above), you can make ready-to-go interface libraries for your code via [swagger-codegen](https://github.com/swagger-api/swagger-codegen). For instance, it's easy to generate libraries for Node.js, Java, Ruby, ASP.NET MVC, jQuery, php and more!\r\n\r\nYou can also try out the endpoint calls with your own api_key right here on this page. Be sure to enter your api_key above to use the \"Try it out!\" buttons on this page.\r\n\r\n##Start Here\r\n\r\nDevelopers new to the BigOven API should start with this version, not with the legacy API. We'll be making improvements to this API over time, and doing only bug fixes on the v1 API.\r\n\r\n\r\n\r\nTo pretend you're a BigOven user (for instance, to get your recently viewed recipes or your grocery list), you need to pass in Basic Authentication information in the header, just as with the v1 API. We do now require that you make all calls via https. You need to pass your api_key in with every call, though this can now be done on the header (send a request header \"X-BigOven-API-Key\" set to your api_key value, e.g., Request[\"X-BigOven-API-Key\"]=\"your-key-here\".)\r\n\r\n##Migration Notes\r\n\r\nFor existing partners, we encourage you to [migrate](https://api2.bigoven.com), and while at this writing we have no hard-and-fast termination date for the v1 API, we strongly prefer that you migrate by January 1, 2017. While the changes aren't overly complex, there are several breaking changes, including refactoring of recipe search and results and removal of support for XML. This is not a simply plug-and-play replacement to the v1 API. With respect to an exclusive focus on JSON, the world has spoken, and it prefers JSON for REST-based API's. We've taken numerous steps to refactor the API to make it more REST-compliant. Note that this v2 API will be the preferred API from this point onward, so we encourage developers to migrate to this new format. We have put together some [migration notes](/web/documentation/migration-to-v2) that we encourage you to read carefully.\r\n\r\n##Photos\r\n\r\nSee our [photos documentation](https://api2.bigoven.com/web/documentation/recipe-images). \r\n\r\nFor more information on usage of this API, including features, pricing, rate limits, terms and conditions, please visit the [BigOven API website](https://api2.bigoven.com)."
  title: 1,000,000+ Recipe and Grocery List API (v2) Collection Images API
  version: partner
  x-apiClientRegistration:
    url: http://api2.bigoven.com/web/console
  x-logo:
    url: https://twitter.com/bigoven/profile_image?size=original
  x-origin:
  - format: openapi
    url: http://api2.bigoven.com/swagger/docs/partner
    version: '3.0'
  x-providerName: bigoven.com
servers:
- url: https://api2.bigoven.com
tags:
- name: Images
paths:
  /image/avatar:
    post:
      deprecated: false
      operationId: Images_UploadUserAvatar
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: Success
        '400':
          description: if bad request (e.g., missing parameters)
        '401':
          description: if the user is unknown
        '415':
          description: if unsupported media type (e.g., bad JPG)
      summary: "POST: /image/avatar\r\n             \r\n            Testing with Postman (validated 11/20/2015):\r\n            1) Remove the Content-Type header; add authentication information\r\n            2) On the request, click Body and choose \"form-data\", then add a line item with \"key\" column set to \"file\" and on the right,\r\n            change the type of the input from Text to File.  Browse and choose a JPG."
      tags:
      - Images
  /recipe/photos/pending:
    get:
      deprecated: false
      operationId: Images_GetPendingByUser
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
          description: OK
      summary: Gets the pending by user.
      tags:
      - Images
  /recipe/{recipeId}/image:
    post:
      deprecated: false
      operationId: Images_UploadRecipeImage
      parameters:
      - in: path
        name: recipeId
        required: true
        schema:
          type: string
      - in: query
        name: caption
        required: false
        schema:
          type: string
      - in: query
        name: lat
        required: false
        schema:
          format: double
          type: number
      - in: query
        name: lng
        required: false
        schema:
          format: double
          type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: Success
        '400':
          description: if bad request (e.g., missing parameters)
        '401':
          description: if the user is unknown
        '415':
          description: if unsupported media type (e.g., bad JPG)
      summary: "POST: /recipe/{recipeId}/image?lat=42&amp;lng=21&amp;caption=this%20is%20my%20caption\r\n             \r\n             Note that caption, lng and lat are all optional, but must go on the request URI as params because this endpoint\r\n             needs a multipart/mime content header and will not parse JSON in the body along with it.\r\n            \r\n             Testing with Postman (validated 11/20/2015):\r\n             1) Remove the Content-Type header; add authentication information\r\n             2) On the request, click Body and choose \"form-data\", then add a line item with \"key\" column set to \"file\" and on the right,\r\n             change the type of the input from Text to File.  Browse and choose a JPG."
      tags:
      - Images
  /recipe/{recipeId}/images:
    get:
      deprecated: false
      operationId: Images_Get
      parameters:
      - description: Recipe ID (required)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
          description: OK
      summary: Get all the images for a recipe. DEPRECATED. Please use /recipe/{recipeId}/photos.
      tags:
      - Images
  /recipe/{recipeId}/photos:
    get:
      deprecated: false
      operationId: Images_GetRecipePhotos
      parameters:
      - description: Recipe ID (required)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      - description: ''
        in: query
        name: pg
        required: false
        schema:
          format: int32
          type: integer
      - description: ''
        in: query
        name: rpp
        required: false
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
          description: OK
      summary: Get all the photos for a recipe
      tags:
      - Images
  /recipe/{recipeId}/scans:
    get:
      deprecated: false
      operationId: Images_GetScanImages
      parameters:
      - description: the recipe identifier (int)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
          description: OK
      summary: Gets a list of RecipeScan images for the recipe. There will be at most 3 per recipe.
      tags:
      - Images
components:
  schemas:
    BigOven.Model.API2.Photo:
      properties:
        Caption:
          type: string
        CreationDate:
          type: string
        ImageID:
          format: int64
          type: integer
        IsPrimary:
          type: boolean
        MaxImageSquare:
          format: int32
          type: integer
        PhotoUrl:
          type: string
        Poster:
          $ref: '#/components/schemas/BigOven.Model.API2.UserInfoTinyx'
      type: object
    BigOven.Model.API.Image:
      properties:
        Caption:
          type: string
        CreationDate:
          type: string
        ImageID:
          format: int64
          type: integer
        ImageSquares:
          items:
            format: int32
            type: integer
          type: array
        ImageURL:
          type: string
        ImageURL120:
          type: string
        ImageURL128:
          type: string
        ImageURL200:
          type: string
        ImageURL256:
          type: string
        ImageURL48:
          type: string
        ImageURL64:
          type: string
        IsPrimary:
          type: boolean
        MaxImageSquare:
          format: int32
          type: integer
        Poster:
          $ref: '#/components/schemas/BigOven.Model.API.UserInfo'
      type: object
    BigOven.Model.API2.UserInfoTinyx:
      properties:
        FirstName:
          type: string
        LastName:
          type: string
        PhotoUrl:
          type: string
        UserID:
          format: int32
          type: integer
        UserName:
          type: string
      type: object
    BigOven.Model.API.UserInfo:
      properties:
        FirstName:
          type: string
        ImageUrl48:
          type: string
        IsKitchenHelper:
          type: boolean
        IsPremium:
          type: boolean
        IsUsingRecurly:
          type: boolean
        LastName:
          type: string
        MemberSince:
          format: date-time
          type: string
        PhotoUrl:
          type: string
        PhotoUrl48:
          readOnly: true
          type: string
        PremiumExpiryDate:
          format: date-time
          type: string
        UserID:
          format: int32
          type: integer
        UserName:
          type: string
        WebUrl:
          readOnly: true
          type: string
      type: object
    System.Object:
      properties: {}
      type: object
    API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse:
      description: ''
      properties:
        ResultCount:
          description: Gets or sets the result count.
          format: int32
          type: integer
        Results:
          description: Gets or sets the results.
          items:
            $ref: '#/components/schemas/BigOven.Model.API2.Photo'
          type: array
      type: object
  securitySchemes:
    api_key:
      description: 'Pass your api_key in the header (recommended) or as a URL parameter. For the URL parameter, use api_key. For the header, send it as a header value for: X-BigOven-API-Key'
      in: header
      name: X-BigOven-API-Key
      type: apiKey
    basic:
      description: Basic HTTP Authentication is used for those endpoint calls where you want to act as a BigOven user -- e.g., to get the list of favorites of a signed-in user, or add items to their grocery list.
      scheme: basic
      type: http
externalDocs:
  url: http://api2.bigoven.com/web/documentation
