openapi: 3.2.0
info:
  description: '#Documentation


    This is the documentation for the partner endpoint of the BigOven Recipe and Grocery List API.'
  title: 1,000,000+ Recipe and Grocery List API (v2) Note API
  version: partner
  x-apiClientRegistration:
    url: http://api2.bigoven.com/web/console
  x-logo:
    url: https://twitter.com/bigoven/profile_image?size=original
  x-origin:
  - format: openapi
    url: http://api2.bigoven.com/swagger/docs/partner
    version: '3.0'
  x-providerName: bigoven.com
servers:
- url: https://api2.bigoven.com
tags:
- name: Note
paths:
  /recipe/{recipeId}/note:
    post:
      deprecated: false
      operationId: Note_Post
      parameters:
      - description: recipeId (int)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest'
        description: 'a recipe note, with fields: Date (YYYY-MM-DD string), Notes (string), People (string), Variations (string), RecipeID (int?)'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.RecipeNote'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.RecipeNote'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.RecipeNote'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.RecipeNote'
          description: OK
      summary: HTTP POST a new note into the system
      tags:
      - Note
  /recipe/{recipeId}/note/{noteId}:
    delete:
      deprecated: false
      operationId: Note_Delete
      parameters:
      - description: recipeId (int)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      - description: noteId (int)
        in: path
        name: noteId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Delete a review do a DELETE Http request of /note/{ID}
      tags:
      - Note
    get:
      deprecated: false
      operationId: Note_Get
      parameters:
      - description: recipe identifier (integer)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      - description: The note ID (note -- it's not the RecipeID)
        in: path
        name: noteId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNote'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNote'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNote'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNote'
          description: OK
      summary: Get a given note.
      tags:
      - Note
    put:
      deprecated: false
      operationId: Note_Put
      parameters:
      - in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      - in: path
        name: noteId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.NoteController.NoteRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNote'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNote'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNote'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNote'
          description: OK
      summary: HTTP PUT (update) a Recipe note (RecipeNote)
      tags:
      - Note
  /recipe/{recipeId}/notes:
    get:
      deprecated: false
      operationId: Note_GetNotes
      parameters:
      - description: recipeId (int)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      - description: page (int, starting from 1)
        in: query
        name: pg
        required: false
        schema:
          format: int32
          type: integer
      - description: recipeId
        in: query
        name: rpp
        required: false
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNoteList'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNoteList'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNoteList'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.RecipeNoteList'
          description: OK
      summary: recipe/100/notes
      tags:
      - Note
components:
  schemas:
    BigOven.Model.API.RecipeNote:
      properties:
        CreationDate:
          format: date-time
          type: string
        Date:
          type: string
        DateDT:
          format: date-time
          type: string
        GUID:
          type: string
        ID:
          format: int32
          type: integer
        Notes:
          type: string
        People:
          type: string
        RecipeID:
          format: int32
          type: integer
        UserID:
          format: int32
          type: integer
        Variations:
          type: string
      type: object
    BigOven.Model.API2.RecipeNote:
      properties:
        CreationDate:
          format: date-time
          type: string
        Date:
          type: string
        DateDT:
          format: date-time
          type: string
        GUID:
          type: string
        ID:
          format: int32
          type: integer
        Notes:
          type: string
        People:
          type: string
        RecipeID:
          format: int32
          type: integer
        UserID:
          format: int32
          type: integer
        Variations:
          type: string
      type: object
    System.Object:
      properties: {}
      type: object
    BigOven.Model.API.RecipeNoteList:
      properties:
        ResultCount:
          format: int32
          type: integer
        Results:
          items:
            $ref: '#/components/schemas/BigOven.Model.API.RecipeNote'
          type: array
      type: object
    API2.Controllers.WebAPI.NoteController.NoteRequest:
      description: ''
      properties:
        CreationDate:
          description: Gets or sets the creation date.
          format: date-time
          type: string
        Date:
          description: Gets or sets the date.
          format: date-time
          type: string
        DateDT:
          description: Gets or sets the date dt.
          type: string
        GUID:
          description: Gets or sets the unique identifier.
          type: string
        ID:
          description: Gets or sets the identifier.
          format: int32
          type: integer
        Notes:
          description: Gets or sets the notes.
          type: string
        People:
          description: Gets or sets the people.
          type: string
        RecipeID:
          description: Gets or sets the recipe identifier.
          format: int32
          type: integer
        UserID:
          description: Gets or sets the user identifier.
          format: int32
          type: integer
        Variations:
          description: Gets or sets the variations.
          type: string
      type: object
  securitySchemes:
    api_key:
      description: 'Pass your api_key in the header (recommended) or as a URL parameter. For the URL parameter, use api_key. For the header, send it as a header value for: X-BigOven-API-Key'
      in: header
      name: X-BigOven-API-Key
      type: apiKey
    basic:
      description: Basic HTTP Authentication is used for those endpoint calls where you want to act as a BigOven user -- e.g., to get the list of favorites of a signed-in user, or add items to their grocery list.
      scheme: basic
      type: http
externalDocs:
  url: http://api2.bigoven.com/web/documentation
