openapi: 3.2.0
info:
  description: '#Documentation


    This is the documentation for the partner endpoint of the BigOven Recipe and Grocery List API.'
  title: 1,000,000+ Recipe and Grocery List API (v2) Me API
  version: partner
  x-apiClientRegistration:
    url: http://api2.bigoven.com/web/console
  x-logo:
    url: https://twitter.com/bigoven/profile_image?size=original
  x-origin:
  - format: openapi
    url: http://api2.bigoven.com/swagger/docs/partner
    version: '3.0'
  x-providerName: bigoven.com
servers:
- url: https://api2.bigoven.com
tags:
- name: Me
paths:
  /me:
    get:
      deprecated: false
      operationId: Me_Index
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
          description: OK
      summary: Indexes this instance
      tags:
      - Me
    put:
      deprecated: false
      operationId: Me_PutMe
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API2.Models.BigOvenUser'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/API2.Models.BigOvenUser'
          application/xml:
            schema:
              $ref: '#/components/schemas/API2.Models.BigOvenUser'
          text/json:
            schema:
              $ref: '#/components/schemas/API2.Models.BigOvenUser'
          text/xml:
            schema:
              $ref: '#/components/schemas/API2.Models.BigOvenUser'
        description: The req.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
          description: OK
      summary: Puts me
      tags:
      - Me
  /me/personal:
    put:
      deprecated: false
      operationId: Me_PutMePersonal
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API2.Models.Personal'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/API2.Models.Personal'
          application/xml:
            schema:
              $ref: '#/components/schemas/API2.Models.Personal'
          text/json:
            schema:
              $ref: '#/components/schemas/API2.Models.Personal'
          text/xml:
            schema:
              $ref: '#/components/schemas/API2.Models.Personal'
        description: The req.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
          description: OK
      summary: Puts me personal
      tags:
      - Me
  /me/preferences:
    put:
      deprecated: false
      operationId: Me_PutMePreferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API2.Models.Preference'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/API2.Models.Preference'
          application/xml:
            schema:
              $ref: '#/components/schemas/API2.Models.Preference'
          text/json:
            schema:
              $ref: '#/components/schemas/API2.Models.Preference'
          text/xml:
            schema:
              $ref: '#/components/schemas/API2.Models.Preference'
        description: The req.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
          description: OK
      summary: Puts me preferences
      tags:
      - Me
  /me/preferences/options:
    get:
      deprecated: false
      operationId: Me_GetOptions
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.MeController.PreferenceOptions'
            application/xml:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.MeController.PreferenceOptions'
            text/json:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.MeController.PreferenceOptions'
            text/xml:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.MeController.PreferenceOptions'
          description: OK
      summary: Gets the options
      tags:
      - Me
  /me/profile:
    put:
      deprecated: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API2.Models.Profile'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/API2.Models.Profile'
          application/xml:
            schema:
              $ref: '#/components/schemas/API2.Models.Profile'
          text/json:
            schema:
              $ref: '#/components/schemas/API2.Models.Profile'
          text/xml:
            schema:
              $ref: '#/components/schemas/API2.Models.Profile'
        description: The req.
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
          description: OK
      summary: Puts me
      tags:
      - Me
      operationId: putMeProfile
      x-operation-id-source: derived
  /me/skinny:
    get:
      deprecated: false
      operationId: Me_Skinny
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            application/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/json:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
            text/xml:
              schema:
                $ref: '#/components/schemas/API2.Models.BigOvenUser'
          description: OK
      summary: Skinnies this instance
      tags:
      - Me
components:
  schemas:
    API2.Models.Profile:
      description: ''
      properties:
        AboutMe:
          description: ''
          type: string
        BackgroundUrl:
          description: ''
          type: string
        Counts:
          $ref: '#/components/schemas/API2.Models.Counts'
        FirstName:
          description: ''
          type: string
        FullName:
          description: ''
          type: string
        HomeUrl:
          description: ''
          type: string
        LastName:
          description: ''
          type: string
        PhotoUrl:
          description: ''
          type: string
        UserID:
          description: ''
          format: int64
          type: integer
        UserName:
          description: ''
          type: string
      type: object
    API2.Controllers.WebAPI.MeController.PreferenceOptions:
      description: ''
      properties:
        EatingStyle:
          $ref: '#/components/schemas/API2.Controllers.WebAPI.MeController.EatingStyle'
      type: object
    API2.Models.Counts:
      description: ''
      properties:
        AddedCount:
          description: ''
          format: int64
          type: integer
        FollowersCount:
          description: ''
          format: int64
          type: integer
        FollowingCount:
          description: ''
          format: int64
          type: integer
        PrivateRecipeCount:
          description: ''
          format: int64
          type: integer
        PublicRecipeCount:
          description: ''
          format: int64
          type: integer
        TotalRecipes:
          description: ''
          format: int64
          type: integer
      type: object
    API2.Models.Accounting:
      description: ''
      properties:
        CreditBalance:
          description: ''
          format: int32
          type: integer
        MemberSince:
          description: ''
          format: date-time
          type: string
        PremiumExpiryDate:
          description: ''
          format: date-time
          type: string
        UserLevel:
          description: ''
          type: string
      type: object
    API2.Models.BigOvenUser:
      description: An API2 wrapper object for a user
      properties:
        Accounting:
          $ref: '#/components/schemas/API2.Models.Accounting'
        BOAuthToken:
          description: The user-specific authentication token
          type: string
        LastChangeLogID:
          description: Last change log
          type: string
        Personal:
          $ref: '#/components/schemas/API2.Models.Personal'
        Preferences:
          $ref: '#/components/schemas/API2.Models.Preference'
        Profile:
          $ref: '#/components/schemas/API2.Models.Profile'
      type: object
    API2.Models.Personal:
      description: Personal level info -- email, location, etc.
      properties:
        Email:
          description: ''
          type: string
        Location:
          $ref: '#/components/schemas/API2.Models.Location'
      type: object
    API2.Controllers.WebAPI.MeController.EatingStyle:
      description: ''
      properties:
        Options:
          description: Gets or sets the options.
          items:
            $ref: '#/components/schemas/API2.Controllers.WebAPI.MeController.Option'
          type: array
      type: object
    API2.Controllers.WebAPI.MeController.Option:
      description: ''
      properties:
        Description:
          description: Gets or sets the description.
          type: string
        Key:
          description: Gets or sets the key.
          type: string
      type: object
    API2.Models.Preference:
      description: ''
      properties:
        EatingStyle:
          description: ''
          type: string
      type: object
    API2.Models.Location:
      description: ''
      properties:
        City:
          description: ''
          type: string
        Country:
          description: ''
          type: string
        DMA:
          description: ''
          format: int32
          type: integer
      type: object
  securitySchemes:
    api_key:
      description: 'Pass your api_key in the header (recommended) or as a URL parameter. For the URL parameter, use api_key. For the header, send it as a header value for: X-BigOven-API-Key'
      in: header
      name: X-BigOven-API-Key
      type: apiKey
    basic:
      description: Basic HTTP Authentication is used for those endpoint calls where you want to act as a BigOven user -- e.g., to get the list of favorites of a signed-in user, or add items to their grocery list.
      scheme: basic
      type: http
externalDocs:
  url: http://api2.bigoven.com/web/documentation
