openapi: 3.2.0
info:
  description: '#Documentation


    This is the documentation for the partner endpoint of the BigOven Recipe and Grocery List API.'
  title: 1,000,000+ Recipe and Grocery List API (v2) Review API
  version: partner
  x-apiClientRegistration:
    url: http://api2.bigoven.com/web/console
  x-logo:
    url: https://twitter.com/bigoven/profile_image?size=original
  x-origin:
  - format: openapi
    url: http://api2.bigoven.com/swagger/docs/partner
    version: '3.0'
  x-providerName: bigoven.com
servers:
- url: https://api2.bigoven.com
tags:
- name: Review
paths:
  /recipe/review/replies/{replyId}:
    delete:
      deprecated: false
      operationId: Review_DeleteReply
      parameters:
      - description: ''
        in: path
        name: replyId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: DELETE a reply to a given review.
      tags:
      - Review
    put:
      deprecated: false
      operationId: Review_PutReply
      parameters:
      - description: ''
        in: path
        name: replyId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/API2.Controllers.WebAPI.ReviewController.PostReplyReq'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Reply'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Reply'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Reply'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Reply'
          description: OK
      summary: Update (PUT) a reply to a given review.
      tags:
      - Review
  /recipe/review/{reviewId}:
    get:
      deprecated: false
      parameters:
      - in: path
        name: reviewId
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
          description: OK
      summary: Get a given review by string-style ID.
      tags:
      - Review
      operationId: getRecipeReviewByReviewId
      x-operation-id-source: derived
    put:
      deprecated: false
      operationId: Review_Put
      parameters:
      - description: ''
        in: path
        name: reviewId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/API2.Controllers.WebAPI.ReviewController.ReviewRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
          description: OK
      summary: Update a given top-level review
      tags:
      - Review
  /recipe/review/{reviewId}/replies:
    get:
      deprecated: false
      operationId: Review_GetReplies
      parameters:
      - description: ''
        in: path
        name: reviewId
        required: true
        schema:
          type: string
      - description: the page (int), starting with 1
        in: query
        name: pg
        required: false
        schema:
          format: int32
          type: integer
      - description: results per page (int)
        in: query
        name: rpp
        required: false
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Reply'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Reply'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Reply'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Reply'
                type: array
          description: OK
      summary: Get a paged list of replies for a given review
      tags:
      - Review
    post:
      deprecated: false
      operationId: Review_PostReply
      parameters:
      - description: ''
        in: path
        name: reviewId
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/API2.Controllers.WebAPI.ReviewController.PostReplyReq'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Reply'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Reply'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Reply'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Reply'
          description: OK
      summary: POST a reply to a given review.
      tags:
      - Review
  /recipe/{recipeId}/review:
    get:
      deprecated: false
      parameters:
      - description: ''
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
          description: OK
      summary: Get *my* review for the recipe {recipeId}, where "me" is determined by standard…
      tags:
      - Review
      operationId: getRecipeByRecipeIdReview
      x-operation-id-source: derived
    post:
      deprecated: false
      operationId: Review_Post
      parameters:
      - description: ''
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        $ref: '#/components/requestBodies/API2.Controllers.WebAPI.ReviewController.ReviewRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Add a new review.
      tags:
      - Review
  /recipe/{recipeId}/review/{reviewId}:
    delete:
      deprecated: false
      operationId: Review_Delete
      parameters:
      - description: ''
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      - description: ''
        in: path
        name: reviewId
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: DEPRECATED!
      tags:
      - Review
    get:
      deprecated: false
      operationId: Review_Get
      parameters:
      - description: int
        in: path
        name: reviewId
        required: true
        schema:
          format: int32
          type: integer
      - description: int
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
          description: OK
      summary: Get a given review - DEPRECATED.
      tags:
      - Review
    put:
      deprecated: false
      operationId: Review_PutLegacy
      parameters:
      - description: reviewId (int)
        in: path
        name: reviewId
        required: true
        schema:
          format: int32
          type: integer
      - description: recipeId (int)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequestLegacy'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequestLegacy'
          application/xml:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequestLegacy'
          text/json:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequestLegacy'
          text/xml:
            schema:
              $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequestLegacy'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API.Review'
          description: OK
      summary: HTTP PUT (update) a recipe review.
      tags:
      - Review
  /recipe/{recipeId}/reviews:
    get:
      deprecated: false
      operationId: Review_GetReviews
      parameters:
      - description: recipe id (int)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      - description: the page (int), starting with 1
        in: query
        name: pg
        required: false
        schema:
          format: int32
          type: integer
      - description: results per page (int)
        in: query
        name: rpp
        required: false
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Review'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Review'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Review'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Review'
                type: array
          description: OK
      summary: Get paged list of reviews for a recipe.
      tags:
      - Review
components:
  schemas:
    API2.Controllers.WebAPI.ReviewController.ReviewRequest:
      description: Payload for reviews
      properties:
        ActiveMinutes:
          description: "How many minutes of ACTIVE time (i.e., actively working on the recipe, not waiting for rising, baking, etc.) did it \n            demand of the cook? Optional."
          format: int32
          type: integer
        Comment:
          description: The notes
          type: string
        MakeAgain:
          description: '"yes" or "no"'
          type: string
        StarRating:
          description: 1, 2, 3, 4, or 5
          format: int32
          type: integer
        TotalMinutes:
          description: How long, start to finish, in minutes (integer) did it take? Optional.
          format: int32
          type: integer
      type: object
    System.Object:
      properties: {}
      type: object
    API2.Controllers.WebAPI.ReviewController.ReviewRequestLegacy:
      description: Legacy -- This object here is deprecated. Please use the new "ReviewRequest" structure for all future development
      properties:
        ActiveMinutes:
          format: int32
          type: integer
        Comment:
          type: string
        GUID:
          type: string
        MakeAgain:
          type: string
        ParentID:
          format: int32
          type: integer
        StarRating:
          format: int32
          type: integer
        TotalMinutes:
          format: int32
          type: integer
      type: object
    API2.Controllers.WebAPI.ReviewController.PostReplyReq:
      description: Reply request parameters
      properties:
        Comment:
          description: The comment. If mentioning any user(s) (optional), include them as @username in the text body. Do not use @ symbol for anything but mentioning @usernames.
          type: string
      type: object
    BigOven.Model.API.Reply:
      properties:
        Comment:
          type: string
        CreationDate:
          format: date-time
          type: string
        ID:
          type: string
        LastModified:
          format: date-time
          type: string
        Poster:
          $ref: '#/components/schemas/BigOven.Model.API.UserInfoTiny'
        ReviewID:
          type: string
      type: object
    BigOven.Model.API.UserInfoTiny:
      properties:
        FirstName:
          type: string
        LastName:
          type: string
        PhotoUrl:
          type: string
        UserID:
          format: int32
          type: integer
        UserName:
          type: string
      type: object
    BigOven.Model.API.UserInfo:
      properties:
        FirstName:
          type: string
        ImageUrl48:
          type: string
        IsKitchenHelper:
          type: boolean
        IsPremium:
          type: boolean
        IsUsingRecurly:
          type: boolean
        LastName:
          type: string
        MemberSince:
          format: date-time
          type: string
        PhotoUrl:
          type: string
        PhotoUrl48:
          readOnly: true
          type: string
        PremiumExpiryDate:
          format: date-time
          type: string
        UserID:
          format: int32
          type: integer
        UserName:
          type: string
        WebUrl:
          readOnly: true
          type: string
      type: object
    BigOven.Model.API.Review:
      properties:
        ActiveMinutes:
          format: int32
          type: integer
        Comment:
          type: string
        CreationDate:
          format: date-time
          type: string
        FeaturedReply:
          $ref: '#/components/schemas/BigOven.Model.API.Reply'
        GUID:
          type: string
        ID:
          type: string
        LastModified:
          format: date-time
          type: string
        ParentID:
          format: int64
          type: integer
        Poster:
          $ref: '#/components/schemas/BigOven.Model.API.UserInfo'
        Replies:
          items:
            $ref: '#/components/schemas/BigOven.Model.API.Review'
          type: array
        ReplyCount:
          format: int32
          type: integer
        ReviewID:
          format: int64
          type: integer
        StarRating:
          format: double
          type: number
        TotalMinutes:
          format: int32
          type: integer
      type: object
  requestBodies:
    API2.Controllers.WebAPI.ReviewController.PostReplyReq:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq'
        application/xml:
          schema:
            $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq'
        text/json:
          schema:
            $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq'
        text/xml:
          schema:
            $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.PostReplyReq'
      required: true
    API2.Controllers.WebAPI.ReviewController.ReviewRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequest'
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequest'
        application/xml:
          schema:
            $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequest'
        text/json:
          schema:
            $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequest'
        text/xml:
          schema:
            $ref: '#/components/schemas/API2.Controllers.WebAPI.ReviewController.ReviewRequest'
      required: true
  securitySchemes:
    api_key:
      description: 'Pass your api_key in the header (recommended) or as a URL parameter. For the URL parameter, use api_key. For the header, send it as a header value for: X-BigOven-API-Key'
      in: header
      name: X-BigOven-API-Key
      type: apiKey
    basic:
      description: Basic HTTP Authentication is used for those endpoint calls where you want to act as a BigOven user -- e.g., to get the list of favorites of a signed-in user, or add items to their grocery list.
      scheme: basic
      type: http
externalDocs:
  url: http://api2.bigoven.com/web/documentation
