openapi: 3.2.0
info:
  description: '#Documentation


    This is the documentation for the partner endpoint of the BigOven Recipe and Grocery List API.'
  title: 1,000,000+ Recipe and Grocery List API (v2) Images API
  version: partner
  x-apiClientRegistration:
    url: http://api2.bigoven.com/web/console
  x-logo:
    url: https://twitter.com/bigoven/profile_image?size=original
  x-origin:
  - format: openapi
    url: http://api2.bigoven.com/swagger/docs/partner
    version: '3.0'
  x-providerName: bigoven.com
servers:
- url: https://api2.bigoven.com
tags:
- name: Images
paths:
  /image/avatar:
    post:
      deprecated: false
      operationId: Images_UploadUserAvatar
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: Success
        '400':
          description: if bad request (e.g., missing parameters)
        '401':
          description: if the user is unknown
        '415':
          description: if unsupported media type (e.g., bad JPG)
      summary: 'POST: /image/avatar Testing with Postman (validated 11/20/2015): 1) Remove the…'
      tags:
      - Images
  /recipe/photos/pending:
    get:
      deprecated: false
      operationId: Images_GetPendingByUser
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
          description: OK
      summary: Gets the pending by user
      tags:
      - Images
  /recipe/{recipeId}/image:
    post:
      deprecated: false
      operationId: Images_UploadRecipeImage
      parameters:
      - in: path
        name: recipeId
        required: true
        schema:
          type: string
      - in: query
        name: caption
        required: false
        schema:
          type: string
      - in: query
        name: lat
        required: false
        schema:
          format: double
          type: number
      - in: query
        name: lng
        required: false
        schema:
          format: double
          type: number
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: Success
        '400':
          description: if bad request (e.g., missing parameters)
        '401':
          description: if the user is unknown
        '415':
          description: if unsupported media type (e.g., bad JPG)
      summary: 'POST: /recipe/{recipeId}/image?lat=42&lng=21&caption=this%20is%20my%20caption…'
      tags:
      - Images
  /recipe/{recipeId}/images:
    get:
      deprecated: false
      operationId: Images_Get
      parameters:
      - description: Recipe ID (required)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
          description: OK
      summary: Get all the images for a recipe.
      tags:
      - Images
  /recipe/{recipeId}/photos:
    get:
      deprecated: false
      operationId: Images_GetRecipePhotos
      parameters:
      - description: Recipe ID (required)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      - description: ''
        in: query
        name: pg
        required: false
        schema:
          format: int32
          type: integer
      - description: ''
        in: query
        name: rpp
        required: false
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse'
          description: OK
      summary: Get all the photos for a recipe
      tags:
      - Images
  /recipe/{recipeId}/scans:
    get:
      deprecated: false
      operationId: Images_GetScanImages
      parameters:
      - description: the recipe identifier (int)
        in: path
        name: recipeId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API.Image'
                type: array
          description: OK
      summary: Gets a list of RecipeScan images for the recipe.
      tags:
      - Images
components:
  schemas:
    API2.Controllers.WebAPI.ImagesController.RecipePhotosResponse:
      description: ''
      properties:
        ResultCount:
          description: Gets or sets the result count.
          format: int32
          type: integer
        Results:
          description: Gets or sets the results.
          items:
            $ref: '#/components/schemas/BigOven.Model.API2.Photo'
          type: array
      type: object
    BigOven.Model.API2.Photo:
      properties:
        Caption:
          type: string
        CreationDate:
          type: string
        ImageID:
          format: int64
          type: integer
        IsPrimary:
          type: boolean
        MaxImageSquare:
          format: int32
          type: integer
        PhotoUrl:
          type: string
        Poster:
          $ref: '#/components/schemas/BigOven.Model.API2.UserInfoTinyx'
      type: object
    BigOven.Model.API.Image:
      properties:
        Caption:
          type: string
        CreationDate:
          type: string
        ImageID:
          format: int64
          type: integer
        ImageSquares:
          items:
            format: int32
            type: integer
          type: array
        ImageURL:
          type: string
        ImageURL120:
          type: string
        ImageURL128:
          type: string
        ImageURL200:
          type: string
        ImageURL256:
          type: string
        ImageURL48:
          type: string
        ImageURL64:
          type: string
        IsPrimary:
          type: boolean
        MaxImageSquare:
          format: int32
          type: integer
        Poster:
          $ref: '#/components/schemas/BigOven.Model.API.UserInfo'
      type: object
    System.Object:
      properties: {}
      type: object
    BigOven.Model.API.UserInfo:
      properties:
        FirstName:
          type: string
        ImageUrl48:
          type: string
        IsKitchenHelper:
          type: boolean
        IsPremium:
          type: boolean
        IsUsingRecurly:
          type: boolean
        LastName:
          type: string
        MemberSince:
          format: date-time
          type: string
        PhotoUrl:
          type: string
        PhotoUrl48:
          readOnly: true
          type: string
        PremiumExpiryDate:
          format: date-time
          type: string
        UserID:
          format: int32
          type: integer
        UserName:
          type: string
        WebUrl:
          readOnly: true
          type: string
      type: object
    BigOven.Model.API2.UserInfoTinyx:
      properties:
        FirstName:
          type: string
        LastName:
          type: string
        PhotoUrl:
          type: string
        UserID:
          format: int32
          type: integer
        UserName:
          type: string
      type: object
  securitySchemes:
    api_key:
      description: 'Pass your api_key in the header (recommended) or as a URL parameter. For the URL parameter, use api_key. For the header, send it as a header value for: X-BigOven-API-Key'
      in: header
      name: X-BigOven-API-Key
      type: apiKey
    basic:
      description: Basic HTTP Authentication is used for those endpoint calls where you want to act as a BigOven user -- e.g., to get the list of favorites of a signed-in user, or add items to their grocery list.
      scheme: basic
      type: http
externalDocs:
  url: http://api2.bigoven.com/web/documentation
