openapi: 3.2.0
info:
  description: '#Documentation


    This is the documentation for the partner endpoint of the BigOven Recipe and Grocery List API.'
  title: 1,000,000+ Recipe and Grocery List API (v2) Collection API
  version: partner
  x-apiClientRegistration:
    url: http://api2.bigoven.com/web/console
  x-logo:
    url: https://twitter.com/bigoven/profile_image?size=original
  x-origin:
  - format: openapi
    url: http://api2.bigoven.com/swagger/docs/partner
    version: '3.0'
  x-providerName: bigoven.com
servers:
- url: https://api2.bigoven.com
tags:
- name: Collection
paths:
  /collection/{id}:
    get:
      deprecated: false
      operationId: Collection_GetCollection
      parameters:
      - description: the collection identifier
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      - description: results per page
        in: query
        name: rpp
        required: false
        schema:
          format: int32
          type: integer
      - description: page number (starting with 1)
        in: query
        name: pg
        required: false
        schema:
          format: int32
          type: integer
      - description: ''
        in: query
        name: test
        required: false
        schema:
          type: boolean
      - description: ''
        in: query
        name: sessionForLogging
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.RecipeSearchResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.RecipeSearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.RecipeSearchResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.RecipeSearchResult'
          description: OK
      summary: Gets a recipe collection. A recipe collection is a curated set of recipes
      tags:
      - Collection
  /collection/{id}/meta:
    get:
      deprecated: false
      operationId: Collection_GetCollectionMeta
      parameters:
      - description: the collection identifier
        in: path
        name: id
        required: true
        schema:
          format: int32
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.CollectionInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.CollectionInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.CollectionInfo'
            text/xml:
              schema:
                $ref: '#/components/schemas/BigOven.Model.API2.CollectionInfo'
          description: OK
      summary: Gets a recipe collection metadata.
      tags:
      - Collection
  /collections:
    get:
      deprecated: false
      operationId: Collection_Collections
      parameters:
      - in: query
        name: test
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API2.CollectionInfo'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API2.CollectionInfo'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API2.CollectionInfo'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/BigOven.Model.API2.CollectionInfo'
                type: array
          description: OK
      summary: Get the list of current, seasonal recipe collections.
      tags:
      - Collection
components:
  schemas:
    BigOven.Model.API2.RecipeInfox:
      properties:
        Category:
          type: string
        CreationDate:
          format: date-time
          type: string
        Cuisine:
          type: string
        HasVideos:
          type: boolean
        IsBookmark:
          type: boolean
        IsPrivate:
          type: boolean
        IsRecipeScan:
          type: boolean
        Microcategory:
          type: string
        PhotoUrl:
          type: string
        Poster:
          $ref: '#/components/schemas/BigOven.Model.API2.UserInfoTinyx'
        RecipeID:
          format: int32
          type: integer
        ReviewCount:
          format: int32
          type: integer
        Servings:
          format: double
          type: number
        StarRating:
          format: double
          type: number
        Subcategory:
          type: string
        Title:
          type: string
        TotalTries:
          format: int32
          type: integer
        WebURL:
          type: string
      type: object
    BigOven.Model.API2.UserInfoTinyx:
      properties:
        FirstName:
          type: string
        LastName:
          type: string
        PhotoUrl:
          type: string
        UserID:
          format: int32
          type: integer
        UserName:
          type: string
      type: object
    BigOven.Model.API2.CollectionInfo:
      properties:
        Description:
          type: string
        ID:
          format: int32
          type: integer
        IsFiltered:
          type: boolean
        IsSponsored:
          type: boolean
        MobileUrl:
          type: string
        PRO:
          type: boolean
        PhotoUrl:
          type: string
        Results:
          items:
            $ref: '#/components/schemas/BigOven.Model.API2.RecipeInfox'
          type: array
        Title:
          type: string
        Token:
          type: string
        WebUrl:
          type: string
      type: object
    BigOven.Model.API2.RecipeSearchResult:
      properties:
        ResultCount:
          format: int32
          type: integer
        Results:
          items:
            $ref: '#/components/schemas/BigOven.Model.API2.RecipeInfox'
          type: array
        SpellSuggest:
          type: string
      type: object
  securitySchemes:
    api_key:
      description: 'Pass your api_key in the header (recommended) or as a URL parameter. For the URL parameter, use api_key. For the header, send it as a header value for: X-BigOven-API-Key'
      in: header
      name: X-BigOven-API-Key
      type: apiKey
    basic:
      description: Basic HTTP Authentication is used for those endpoint calls where you want to act as a BigOven user -- e.g., to get the list of favorites of a signed-in user, or add items to their grocery list.
      scheme: basic
      type: http
externalDocs:
  url: http://api2.bigoven.com/web/documentation
